@font-face {
  font-family: 'Shrimp';
  src:
    url('/fonts/shrimp/shrimp-webfont.woff2') format('woff2'),
    url('/fonts/shrimp/shrimp-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}